RewriteEngine on
RewriteRule ^api/waifu_sfw/([a-zA-Z0-9_]+) api/random_waifu.php?type=sfw&kategori=$1&%{QUERY_STRING} [NC,L]
RewriteRule ^api/waifu_nsfw/([a-zA-Z0-9_]+) api/random_waifu.php?type=nsfw&kategori=$1&%{QUERY_STRING} [NC,L]
RewriteRule ^api/text_maker/([a-zA-Z0-9_]+) api/text_maker.php?theme=$1&%{QUERY_STRING} [NC,L]